.edit-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 30px;
}

.edit-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.edit-header {
    align-self: center;
    margin-bottom: 30px;
}

.edit-input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    row-gap: 10px;
    margin-bottom: 10px;
}

.edit-on-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-form-input {
    width: 296px;
    height: 44px;
    background-color: #E3E8F0;
    border-radius: 10px;
    border: none;
}