.char-list-c1 {
    display: flex;
    flex-direction: row;
    gap: 3%;
    /*align-self: end;*/
    /*justify-self: end;*/
}

.char-list-elem-c2 {
    display: flex;
    flex-direction: row;
    align-items: center;
}