.user-list-c1 {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 80%;
}

.user-list-c2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 100%;
}

.user-list-c3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;

    width: 100%;

    margin-bottom: 5%;
}

.user-email {
    background-color: #E3E8F0;
    border-radius: 5px;
    margin-right: 7%;
}

.user-list-h1 {
    margin-top: 10%;
    margin-bottom: 5%;
}