.characters-menu {
    width: 100%;
    height: 30px;

    margin: 5px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.character {

}

.character-avatar {
    
}

.character-button {
    margin: auto;
    padding: 2px;

    text-align: center;

    background-color: #B2C0D4;

    border: 1px solid black;
    border-radius: 5px;

    cursor: pointer;
}

.menu-hidden {
    display: none;
}
