.character-create-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 30px;
}

.character-create-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.character-create-header {
    align-self: center;
    margin-bottom: 30px;
}

.character-create-input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    row-gap: 10px;
    margin-bottom: 10px;
}

.character-create-on-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.character-create-form-input {
    width: 296px;
    height: 44px;
    background-color: #E3E8F0;
    border-radius: 10px;
    border: none;
}

.email {
    display: flex;
    flex-direction: row;

    margin: 10px;
}

.cross-icon {
    width: 20px;
    height: 20px;
    margin-left: 10px;

    cursor: pointer;
}
