.buttons-box {
  width: 100%;
  padding: 10px;
}

.character-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.character-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.character-info-title {
  font-weight: bold;
  text-align: center;
}

.character-avatar {
  width: 128px;
  height: 128px;

  margin: 20px;
}

.notes {
  width: 90%;
  height: 200px;
  margin: 20px;

  max-width: 90%;

  border-radius: 10px;

  background-color: #E3E8F0;

  word-break: break-all;
}

.settings-button {
  width: 50px;
  height: 50px;

  margin-right: 5px;

  cursor: pointer;
}

.hp-panel {
  display: flex;
  flex-direction: row;
  font-size: 24px;
}

.button-icon {
  width: 30px;
  height: 30px;
}

.hp-icon {
  margin-bottom: 5px;
}

.pointer {
  cursor: pointer;
  margin: 5px;
}