.chat-header {
    display: flex;
    align-items: center;
    background-color: #B2C0D4;
    height: 60px;
}

.chat-icon-box {
    background-color: #808196;
    border-radius: 10px;
    margin: 10px;
    width: 40px;
    height: 40px;
}

.chat-icon {
    width: 40px;
    height: 40px;
}

.chat-title {
    margin: 0;
}

.button-box {
    margin-left: auto;
    margin-right: 10px;
}

.button-chat {
    width: 44px;
    height: 44px;

    cursor: pointer;
}
