.chat-page {
    display: flex;
    flex-direction: row;
}

.chat {
    width: 70%;
    margin-left: 0;
    margin-right: 0;
    background-color: #E3E8F0;
    max-height: 1000px;
}

.no-chat {
    width: 70%;
    height: 800px;
    margin-left: 0;
    margin-right: 0;
    background-color: #E3E8F0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 26px;
}

.no-chat-message {
    margin-top: 30%;
}

.character-menu {
    width: 15%;
}

.chat-list {
    width: 15%;
}
