.logo {
    display: flex;
    align-items: center;
}

.logo-icon {
    width: 48px;
    height: 48px;
}

.logo-text {
    font-size: 24px;
}

.chats-box {}

.list-element {
    border-radius: 10px;
    background-color: #E3E8F0;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

.list-element-chosen {
    background-color: #B2C0D4;
}