.dices-menu {
    width: 100%;
    height: 30px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dice-button {
    width: 5%;

    margin: auto;
    padding: 2px;

    text-align: center;

    background-color: #B2C0D4;

    border: 1px solid black;
    border-radius: 5px;
}

.menu-hidden {
    display: none;
}
