.message-box {
    background-color: #E3E8F0;
}

.message-input {
    width: 86%;
    height: 30px;
    border-radius: 10px;
    border: none;
    margin: 10px;
}

.button {
    width: 42px;
    height: 42px;
    margin: 6px;
    background-color: #808196;
    border-radius: 10px;
    width: 40px;
    height: 40px;
}

.message-button {
}

.character-button {
}

.dice-button {
}
