.messages-container {
    display: flex;
    width: 100%;
    height: 800px;
    flex-direction: column;

    overflow: scroll;
    overflow-x: hidden;
}

.message {
    display: flex;
    flex-direction: row;

    margin-right: auto;
}

.message-own {
    display: flex;
    flex-direction: row;
    
    margin-left: auto;
}

.message-text {
    margin: 10px;
    background-color: #808196;
    border-radius: 10px;
    padding: 5px;

    max-width: 500px;
    word-break: break-all;
}

.message-author {
    font-size: 14px;
    margin: 0;
}

.message-inner-text {
    margin: 0;
}

.avatar {
    margin: 10px;
    background-color: #B2C0D4;
    border-radius: 10px;
    height: 40px;
    width: 40px;
}