.title-container {
    display: flex;
    align-self: flex-start;
}

.circle {
    display: flex;
    width: 48px;
    height: 48px;
    background-color: #B2C0D4;
    border-radius: 50%;
}

.small-title {
    width: 135px;
    height: 42px;

    font-family: "JetBrains Mono", cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
}