.normal-font {
    font-family: 'JetBrains Mono', monospace !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 18px !important;
    line-height: 24px !important;
    color: black !important;
}

.big-font {
    font-family: 'JetBrains Mono', monospace !important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 24px !important;
    line-height: 32px !important;
    color: black !important;
}