/*containers*/
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 30px;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    row-gap: 10px;
}

.gender-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    row-gap: 10px;

    margin-top: 15px;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;

    margin-top: 20px;
}

.success-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 200px;
}

/*labels*/
.error-message {
    display: flex;
    width: 296px;
    height: 44px;
    align-items: center;
    justify-content: center;
    border-radius: 10px !important;
}

.register-header {
    align-self: center;
    margin-bottom: 30px;
}

/*buttons*/
.light-grey {
    background-color: #E3E8F0 !important;
}

.dark-grey {
    background-color: #B2C0D4 !important;
}

/*inputs*/
.form-input {
    width: 296px;
    height: 44px;
    background-color: #E3E8F0;
    border-radius: 10px;
    border: none;
}

/*other*/
.on-center {
    display: flex;
    align-items: center;
    justify-content: center;
}