.big-title {
    width: 403px;
    height: 127px;

    font-family: 'JetBrains Mono', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 127px;
}

.welcome-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 200px;
}