.chat-info-c1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.chat-info-c2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.chat-name {
    margin-right: 10px;
}

.chat-info-back-btn {
    display: flex;
    align-self: end;
    margin-right: 15%;
    background-color: #E3E8F0 !important;
}